.animusContainer {

    background-color: black !important;

}

.animusTitle {

    background-color: black !important;
    color: #DDD !important;
    margin: 0 auto !important;
    border-width: 0 !important;
    border-style: none !important;

}

.animusSubtitle {

    background-color: black !important;
    color: #AAA !important;
    margin: 0 auto !important;
    border-width: 0 !important;
    padding: 0 0 1vw 0 !important;

}

.animusPrompt {

    color: #EEE !important;

}