.MainBody {

    margin: 0 0 15vw 0;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;

}

.MainBody h1 {

    margin: 10vw 0;
    padding: 1vw;
    font-size: 6vw;
    color: black;
    background-color: white;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;

}

.MainBody h2 {

    margin: 10vw 0;
    font-size: 4vw;

}

.MainBody article {

    margin: 10vw 0;

}

.MainBody h3 {

    font-size: 4vw;
    color: #FF0000;
    text-shadow: 0.15vw 0.15vw 0 #770000,
                 0.3vw 0.3vw 0 #550000,
                 0.45vw 0.45vw 0 #330000,
                 0.6vw 0.6vw 0 #110000;

}

.MainBody h4 {

    font-size: 3vw;
    font-style: italic;
    text-shadow: 0.15vw 0.15vw 0 #777,
                 0.3vw 0.3vw 0 #555,
                 0.45vw 0.45vw 0 #333,
                 0.6vw 0.6vw 0 #111;

}

.MainBody p {

    margin: 3vw auto;
    font-size: 3vw;
    width: 90vw;
    max-width: 900px;
    text-align: left;
    color: #CCCCCC;

}

.MainBody a {

    color:#DD0000;

}

.MainBody a:visited {

    color: #990000;

}

.MainBody a:hover {

    color: #BB0000;

}

.art {

    display: block;
    margin: 0 auto 10vw auto;
    width: 90vw;
    max-width: 1000px;
    border-style: solid;
    border-width: 1vw;
    border-color: white;

}

.art:last-of-type {

    margin: 0 auto;

}

.hide {

    display: none;

}

@media only screen and (min-width: 1000px) {

    .MainBody {

        margin-bottom: 150px;

    }

    .MainBody h1 {

        margin: 100px 0;
        padding: 10px;
        font-size: 60px;

    }

    .MainBody h2 {

        margin: 100px 0;
        font-size: 40px;

    }
    
    .MainBody article {

        margin: 100px 0;
    
    }
    
    .MainBody h3 {

        font-size: 40px;
        text-shadow: 1.5px 1.5px 0 #770000,
                     3px 3px 0 #550000,
                     4.5px 4.5px 0 #330000,
                     6px 6px 0 #110000;
    
    }

    .MainBody h4 {

        font-size: 30px;
        text-shadow: 1.5px 1.5px 0 #777,
                     3px 3px 0 #555,
                     4.5px 4.5px 0 #333,
                     6px 6px 0 #111;
    
    }

    .MainBody p {

        margin: 30px auto;
        font-size: 30px;
    
    }

    .art {

        margin: 0 auto 100px auto;
        width: 900px;
        border-width: 10px;

    }

}