.MainBody {

    margin: 0 0 15vw 0;
    text-align: center;
    font-family: monospace;

}

.MainBody h1 {

    margin: 10vw 0;
    padding: 1vw 22vw 1vw 0;
    font-size: 6vw;
    text-align: right;
    color: black;
    background-color: #EEEEEE;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;

}

.MainBody h2 {

    margin: 10vw 0;
    font-size: 4vw;

}

.MainBody article {

    margin: 10vw 0;
    padding: 0 0 1vw 0;
    background-color: #EEEEEE;

}

.MainBody .estimates {

    padding: 0 0 1vw 0;
    background-color: #EEEEEE;

}

.MainBody h3 {

    padding: 8vw 0 4vw 0;
    font-size: 5vw;
    font-weight: 600;
    color: #330000;
    background: #AAAAAA;
    background: linear-gradient(0deg, rgba(238,238,238,1) 75%, rgba(170,170,170,1) 100%);

}

.MainBody h4 {

    padding: 6vw 0 3vw 0;
    font-size: 4.5vw;
    font-weight: 400;
    font-style: italic;
    color: #222222;
    background-color: #BBBBBB;
    background: linear-gradient(0deg, rgba(238,238,238,1) 75%, rgba(187,187,187,1) 100%);

}

.MainBody p {

    margin: 5vw auto;
    font-family: sans-serif;
    font-size: 4.5vw;
    line-height: 6.5vw;
    width: 80vw;
    max-width: 800px;
    text-align: left;
    color: #111111;

}

.dropcap:first-letter {

    margin: 0 1.5vw 0 -1vw;
    float: left;
    font-family: monospace;
    font-size: 18vw;
    font-weight: 1000;
    line-height: 11vw;
    background-color: #D0D0D0;
    border-top-left-radius: 7.5vw;

}

.MainBody .mono {

    margin: 3vw auto;
    font-family: monospace;
    font-size: 4.5vw;
    line-height: 6vw;
    width: 90vw;
    max-width: 900px;
    text-align: left;
    color: #111111;

}

.MainBody a {

    color:#DD0000;

}

.MainBody a:visited {

    color: #990000;

}

.MainBody a:hover {

    color: #BB0000;

}

.art {

    display: block;
    margin: 0 auto 10vw auto;
    width: 90vw;
    max-width: 1000px;
    border-style: solid;
    border-width: 1vw;
    border-color: white;

}

.art:last-of-type {

    margin: 0 auto;

}

.hide {

    display: none;

}

@media only screen and (min-width: 600px) {

    .MainBody p {

    font-size: 4vw;
    line-height: 6vw;

    }
    
    .dropcap:first-letter {

        line-height: 9vw;
        border-top-left-radius: 6vw;
    
    }

    .MainBody .mono {

        font-size: 4vw;
        line-height: 5.5vw;

    }

}

@media only screen and (min-width: 1000px) {

    .MainBody {

        margin-bottom: 150px;

    }

    .MainBody h1 {

        margin: 100px 0;
        /*padding: 10px calc(calc(100% / 2) - calc(900px - 25%)) 10px 0;*/
        padding: 10px calc(calc(50% - 900px) + 630px) 10px 0;
        font-size: 60px;

    }

    .MainBody h2 {

        margin: 100px 0;
        font-size: 40px;

    }
    
    .MainBody article {

        margin: 100px 0;
        padding: 0 0 10px 0;
    
    }

    .MainBody .estimates {

        padding: 0 0 10px 0;

    }
    
    .MainBody h3 {

        padding: 80px 0 40px 0;
        font-size: 50px;
    
    }

    .MainBody h4 {

        padding: 60px 0 30px 0;
        font-size: 45px;
    
    }

    .MainBody p {

        margin: 50px auto;
        font-size: 30px;
        line-height: 50px;
    
    }

    .dropcap:first-letter {

        margin: 0 15px 0 -10px;
        font-size: 150px;
        line-height: 75px;
        border-top-left-radius: 50px;
    
    }

    .MainBody .mono {

        margin: 30px auto;
        font-size: 30px;
        line-height: 45px;
    
    }

    .art {

        margin: 0 auto 100px auto;
        width: 900px;
        border-width: 10px;

    }

}