.MainFooter {

    display: block;
    margin: 0 auto;

}

.MainFooter .text {

    display: block;
    padding: 10vw 0;
    color: #AAAAAA;
    text-align: center;
    font-family: monospace;
    font-weight: 400;
    font-size: 2vw;

}