.MainBody {

    margin: 0 0 15vw 0;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;

}

.MainBody h1 {

    margin: 10vw 0;
    padding: 1vw;
    font-size: 6vw;
    color: black;
    background-color: #EEEEEE;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;

}

.MainBody h2 {

    margin: 10vw 0;
    font-size: 4vw;

}

.MainBody article {

    margin: 10vw 0;
    padding: 0 0 1vw 0;
    background-color: #EEEEEE;

}

.MainBody h3 {

    padding: 4vw 0;
    font-size: 5vw;
    font-weight: 600;
    color: #330000;
    background: #AAAAAA;
    background: linear-gradient(0deg, rgba(238,238,238,1) 75%, rgba(170,170,170,1) 100%);

}

.MainBody h4 {

    padding: 3vw 0;
    font-size: 4.5vw;
    font-weight: 400;
    font-style: italic;
    color: #222222;
    background-color: #BBBBBB;
    background: linear-gradient(0deg, rgba(238,238,238,1) 75%, rgba(187,187,187,1) 100%);

}

.MainBody p {

    margin: 3vw auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5vw;
    line-height: 6vw;
    width: 90vw;
    max-width: 900px;
    text-align: left;
    color: #111111;

}

.MainBody .mono {

    margin: 3vw auto;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 4.5vw;
    line-height: 6vw;
    width: 90vw;
    max-width: 900px;
    text-align: left;
    color: #111111;

}

.MainBody a {

    color:#DD0000;

}

.MainBody a:visited {

    color: #990000;

}

.MainBody a:hover {

    color: #BB0000;

}

.art {

    display: block;
    margin: 0 auto 10vw auto;
    width: 90vw;
    max-width: 1000px;
    border-style: solid;
    border-width: 1vw;
    border-color: white;

}

.art:last-of-type {

    margin: 0 auto;

}

.hide {

    display: none;

}

@media only screen and (min-width: 600px) {

    .MainBody p {

    font-size: 4vw;
    line-height: 5.5vw;

    }

    .MainBody .mono {

        font-size: 4vw;
        line-height: 5.5vw;

    }

}

@media only screen and (min-width: 1000px) {

    .MainBody {

        margin-bottom: 150px;

    }

    .MainBody h1 {

        margin: 100px 0;
        padding: 10px;
        font-size: 60px;

    }

    .MainBody h2 {

        margin: 100px 0;
        font-size: 40px;

    }
    
    .MainBody article {

        margin: 100px 0;
        padding: 0 0 10px 0;
    
    }
    
    .MainBody h3 {

        padding: 40px 0;
        font-size: 50px;
    
    }

    .MainBody h4 {

        padding: 30px 0;
        font-size: 45px;
    
    }

    .MainBody p {

        margin: 30px auto;
        font-size: 30px;
        line-height: 45px;
    
    }

    .MainBody .mono {

        margin: 30px auto;
        font-size: 30px;
        line-height: 45px;
    
    }

    .art {

        margin: 0 auto 100px auto;
        width: 900px;
        border-width: 10px;

    }

}