.MainHeader {

    display: block;
    margin: 0 auto;

}

.logo {

    margin: -25% auto;
    display: block;
    width: 100%;
    overflow: hidden;

}

.title {

    display: block;
    margin: 0 auto;
    position: relative;
    top: -15vw;

}

.title h1 {

    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 10vw;

}