.MainHeader {

    display: block;
    margin: 0 auto;

}

.logo {

    margin: -25% auto;
    display: block;
    width: 100%;
    overflow: hidden;

}

.title {

    display: block;
    margin: 0 auto;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    top: -15vw;

}

.title p {

    -moz-user-select: none;
    -webkit-user-select: none;

}

.title h1 {

    margin: 0 auto;
    font-weight: 400;
    font-size: 10vw;

}

.subtitle1 {

    margin: -2.4vw auto 0 auto;
    font-size: 6.15vw;
    color: #DDD;

}

.subtitle2 {

    margin: -1.25vw auto 0 auto;
    font-size: 5.48vw;
    color: #BBB;

}

.subtitle3 {

    margin: -0.4vw auto 0 auto;
    font-size: 3.07vw;
    color: #999;

}

.subtitle4 {

    margin: 0 auto;
    font-size: 2.34vw;
    color: #666;

}

.subtitle5 {

    margin: 0.4vw auto 0 auto;
    font-size: 1.96vw;
    color: #333;

}

.subtitle6 {

    margin: 0.5vw auto 0 auto;
    font-size: 1.76vw;
    color: #111;

}

@media only screen and (min-width: 1000px) {

    .logo {

        margin: -250px auto;
        width: 1000px;

    }

    .title {

        top: -150px;

    }

    .title h1 {

        font-size: 100px;

    }

    .subtitle1 {

        font-size: 61.6px;
        margin: -24px auto 0 auto;

    }
    
    .subtitle2 {
    
        margin: -12.5px auto 0 auto;
        font-size: 54.8px;
    
    }
    
    .subtitle3 {
    
        margin: -4px auto 0 auto;
        font-size: 30.7px;
    
    }
    
    .subtitle4 {
    
        font-size: 23.4px;
    
    }
    
    .subtitle5 {
    
        margin: 4px auto 0 auto;
        font-size: 19.6px;
    
    }
    
    .subtitle6 {
    
        margin: 5px auto 0 auto;
        font-size: 17.6px;
    
    }
    
}