.MainFooter {

    display: block;
    margin: 0 auto;
    padding: 10vw 0;

}

.MainFooter .text {

    margin: 0.5vw auto;
    padding: 0 22vw 0 0;
    color: #AAAAAA;
    text-align: right;
    font-family: monospace;
    font-weight: 400;
    font-size: 2vw;

}

@media only screen and (min-width: 1000px) {

    .MainFooter {

        padding: 100px 0;
    
    }

    .MainFooter .text {

        margin: 5px auto;
        padding: 0 calc(calc(50% - 900px) + 630px) 0 0;
        font-size: 20px;
    
    }

}