.MainHeader {
    display: block;
    margin: 0 auto;
}

.logo {
    margin: -25% auto;
    display: block;
    width: 100%;
    overflow: hidden;
}

.title {
    display: block;
    margin: 0 auto;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    top: -15vw;
}

.title p {
    -moz-user-select: none;
    -webkit-user-select: none;
}

.title h1 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 10.4vw;
}

.subtitle1 {
    margin: -1.8vw auto 0 auto;
    font-size: 5.95vw;
    color: #BBB;
}

.subtitle2 {
    margin: -0.7vw auto 0 auto;
    font-size: 4.3vw;
    color: #999;
}

.subtitle3 {
    margin: -0.1vw auto 0 auto;
    font-size: 3vw;
    color: #777;
}

.subtitle4 {
    margin: 0.2vw auto 0 auto;
    font-size: 2.35vw;
    color: #555;
}
.subtitle5 {
    margin: 0.3vw auto 0 auto;
    font-size: 2.32vw;
    color: #333;
}

.subtitle6 {
    margin: 0.5vw auto 0 auto;
    font-size: 1.65vw;
    color: #111;
}

@media only screen and (min-width: 1000px) {

    .logo {
        margin: -250px auto;
        width: 1000px;
    }

    .title {
        top: -150px;
    }

    .title h1 {
        font-size: 104px;
    }

    .subtitle1 {
        margin: -18px auto 0 auto;
        font-size: 59.5px;
    }
    
    .subtitle2 {
        margin: -7px auto 0 auto;
        font-size: 43px;
    }
    
    .subtitle3 {
        margin: -1px auto 0 auto;
        font-size: 30px;
    }
    
    .subtitle4 {
        margin: 2px auto 0 auto;
        font-size: 23.5px;
    }
    
    .subtitle5 {
        margin: 3px auto 0 auto;
        font-size: 23.2px;
    }
    
    .subtitle6 {
        margin: 5px auto 0 auto;
        font-size: 16.5px;
    }
    
}