/* Global styles and css/font imports go here. */

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Ubuntu+Mono&display=swap');

body {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
}